.end,
.game {
  display: none;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #3a3a3a;
  color: white;
  display: flex;
  justify-content: center;
}

.start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding-bottom: 100px;
}
canvas {
  border: 5px black solid;
}

.container {
  text-align: center;
}

.glitch {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

p.glitch {
  margin-block-start: 3.5em;
  margin-block-end: 2em;
}

#startGameButton {
  position: relative;
}
audio {
  display: none;
}
#startBtn {
  width: 200px;
  height: 100px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: fantasy;
  font-size: 70px;
}
#restartBtn {
  width: 200px;
  height: 100px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: fantasy;
  font-size: 40px;
  margin-top: 50px;
}

#mute {
  width: 120px;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  background: #9a9a9a;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: fantasy;
  font-size: 25px;
  top: 0px;
  align-items: flex-start !important;
}
#mute1 {
  width: 120px;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  background: #9a9a9a;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: fantasy;
  font-size: 25px;
  align-items: flex-start !important;
  margin-top: 50px;
  margin-bottom: 200px;
}

#startBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#startBtn:active {
  color: #000;
}

#startBtn:active:after {
  background: transparent;
}

#startBtn:hover:before {
  opacity: 1;
}

#startBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.end-text {
  font-family: fantasy;
  font-size: 45px;
  letter-spacing: 2px;
}
.game-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}
